<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Your new license key</title>
</head>

<body>
    <h2>You're all set!</h2>
    <p>Your license key for self-hosting Infisical: </p>
    <h2>{{licenseKey}}</h2>
    <p>Next steps:</p>
    <ul>
        <li>Manage your license plan and limits in Infisical Cloud > Usage & Billing.</li>
        <li>Activate your license key by pasting it into your self-hosted Infisical > Usage & Billing </li>
    </ul>
    <p>Questions about your license? Email us at support@infisical.com</p>
</body>

</html>